:root {
    --primary-color: var(--p-primary-color);
    --layout-section-transition-duration: 0.2s;
    --element-transition-duration: var(--p-transition-duration);
    --surface-ground: var(--p-surface-100);
}
