:root {
    --app-space-0: 0;
    --app-space-1: 0.25rem;
    --app-space-2: 0.5rem;
    --app-space-3: 0.75rem;
    --app-space-4: 1rem;
    --app-space-5: 1.25rem;
    --app-space-6: 1.5rem;
    --app-space-7: 2rem;
    --app-space-8: 2.5rem;
    --app-space-9: 3rem;
}
