:root {
    --app-font-family:
        system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';

    --app-font-size-sm: 0.875rem;
    --app-font-size-md: 1rem;
    --app-font-size-lg: 1.125rem;
    --app-line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.5;
    color: var(--text-color);

    &:first-child {
        margin-top: 0;
    }
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

p {
    margin: 0 0 1rem 0;
    line-height: 1.5;

    &:last-child {
        margin-bottom: 0;
    }
}

a {
    text-decoration: none;
}
