html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: var(--app-font-family);
    line-height: var(--app-line-height);
    font-size: var(--app-font-size-md);
    background-color: var(--surface-ground);
}
