<div class="layout-wrapper">
    <app-menu-bar class="p-2"></app-menu-bar>
    <div class="layout-main-container">
        <main class="layout-main">
            <router-outlet />
        </main>
        <footer class="mt-auto p-10 bg-white">
            <div class="container mx-auto text-center">
                Made with ❤️ by
                <a class="text-blue-700 hover:font-bold" href="https://x.com/tomastrajan">Ciora Dorin</a>
            </div>
        </footer>
    </div>
    <div class="layout-mask animate-fadein"></div>
</div>
