<div class="h-full w-full mb-4 p-8 flex items-center justify-center">
    <p-stepper [(value)]="activeStep" class="basis-[40rem]">
        <p-step-list>
            <p-step [value]="1" class="flex flex-row flex-auto gap-2">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="bg-transparent border-0 inline-flex flex-col gap-2">
                        <span
                            class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                            [ngClass]="{
                                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                'border-surface': value > activeStep
                            }"
                        >
                            <i class="pi pi-user"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>
            <p-step [value]="2" class="flex flex-row flex-auto gap-2">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="bg-transparent border-0 inline-flex flex-col gap-2">
                        <span
                            class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                            [ngClass]="{
                                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                'border-surface': value > activeStep
                            }"
                        >
                            <i class="pi pi-star"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>
            <p-step [value]="3" class="flex flex-row flex-auto gap-2">
                <ng-template #content let-activateCallback="activateCallback" let-value="value">
                    <button class="bg-transparent border-0 inline-flex flex-col gap-2">
                        <span
                            class="rounded-full border-2 w-12 h-12 inline-flex items-center justify-center"
                            [ngClass]="{
                                'bg-primary text-primary-contrast border-primary': value <= activeStep,
                                'border-surface': value > activeStep
                            }"
                        >
                            <i class="pi pi-id-card"></i>
                        </span>
                    </button>
                </ng-template>
            </p-step>
        </p-step-list>
        <p-step-panels>
            <p-step-panel [value]="1">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex justify-center">
                        <p-card [style]="{ width: '25rem', overflow: 'hidden', minHeight: '600px' }">
                            <ng-template #header>
                                <img alt="Card" class="w-full" src="/assets/img/create_event_card_logo.png" />
                            </ng-template>
                            <ng-template #title
                                ><p class="text-center text-blue-500">Create a new event</p>
                            </ng-template>
                            <p class="text-cente">
                                You are about to create a new event. The event is the core item of our system
                            </p>
                        </p-card>
                    </div>
                    <div class="flex pt-6 justify-end">
                        <p-button
                            (onClick)="activateCallback(2)"
                            label="Next"
                            icon="pi pi-arrow-right"
                            iconPos="right"
                            severity="info"
                        />
                    </div>
                </ng-template>
            </p-step-panel>
            <p-step-panel [value]="2">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex justify-center">
                        <p-card [style]="{ width: '25rem', overflow: 'hidden', minHeight: '600px' }">
                            <ng-template #header>
                                <img alt="Card" class="w-full" src="/assets/img/create_event_card_logo.png" />
                            </ng-template>
                            <ng-template #title
                                ><p class="text-center text-blue-500">Name of the event</p>
                            </ng-template>
                            <div>
                                <form [formGroup]="form">
                                    <input formControlName="name" pInputText autocomplete="off" fluid />

                                    @if (name.dirty && name.invalid) {
                                        <p-message severity="error" size="small" variant="simple">
                                            @if (name.hasError('required')) {
                                                <span>Name is required</span>
                                            }
                                            @if (name.hasError('maxlength')) {
                                                <span>Maximum number of characters is 25</span>
                                            }
                                        </p-message>
                                    }
                                </form>
                            </div>
                        </p-card>
                    </div>
                    <div class="flex pt-6 justify-between">
                        <p-button
                            (onClick)="activateCallback(1)"
                            label="Back"
                            severity="secondary"
                            icon="pi pi-arrow-left"
                        />
                        <p-button
                            (onClick)="activateCallback(3)"
                            label="Next"
                            icon="pi pi-arrow-right"
                            iconPos="right"
                            severity="info"
                            [disabled]="form.invalid"
                        />
                    </div>
                </ng-template>
            </p-step-panel>
            <p-step-panel [value]="3">
                <ng-template #content let-activateCallback="activateCallback">
                    <div class="flex justify-center">
                        <p-card [style]="{ width: '25rem', overflow: 'hidden', minHeight: '600px' }">
                            <ng-template #header>
                                <img alt="Card" class="w-full" src="/assets/img/create_event_card_logo.png" />
                            </ng-template>
                            <ng-template #title><p class="text-center text-blue-500">Event type</p></ng-template>
                            <div class="card">
                                <form [formGroup]="form">
                                    <p-select
                                        required
                                        formControlName="type"
                                        [options]="cities"
                                        optionLabel="name"
                                        placeholder="Tipul"
                                        class="w-full md:w-56"
                                        fluid
                                    />
                                    @if (type.dirty && type.invalid) {
                                        <p-message severity="error" size="small" variant="simple">
                                            @if (type.hasError('required')) {
                                                <span>Type is required</span>
                                            }
                                        </p-message>
                                    }
                                </form>
                            </div>
                        </p-card>
                    </div>
                    <div class="flex pt-6 justify-between">
                        <p-button
                            (onClick)="activateCallback(2)"
                            label="Back"
                            severity="secondary"
                            icon="pi pi-arrow-left"
                        />
                        <p-button
                            (onClick)="createEvent()"
                            label="Create"
                            icon="pi pi-arrow-right"
                            iconPos="right"
                            severity="success"
                            [loading]="isLoading"
                            [disabled]="form.invalid"
                        />
                    </div>
                </ng-template>
            </p-step-panel>
        </p-step-panels>
    </p-stepper>
</div>
